form {
    max-width: 400px;
    margin: 0 auto ;
    padding: 10px;
    margin-right: 100px;
  }
    
    
  label {
    display: block;
    margin-bottom: 5px;
  }
    
  input , textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
    
  #enviar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1cc221;
    color: rgb(255, 255, 255);
    border: solid 2px;
    border-radius: 4px;
    &:hover{
      transform: scale(1.01);
    }
  }